Repository deepbrainspace/superconfig: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, python-fmt, python-lint, js-fmt, dprint-fmt

lefthook.yml:

# Lefthook configuration for SuperConfig monorepo
# Fast git hooks using Moon build system with conditional execution

pre-commit:
  parallel: true
  commands:
    # Rust formatting using Moon tasks
    rust-fmt:
      glob: "*.rs"
      run: moon run :fmt
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: moon run :clippy

    # Python formatting and linting - only changed files
    python-fmt:
      glob: "*.py"
      run: python -m black {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    python-lint:
      glob: "*.py"
      run: python -m ruff check {staged_files}
      skip:
        - merge
        - rebase

    # Node.js/JavaScript formatting - only changed files
    js-fmt:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    # Comprehensive formatting with dprint (Rust-based, fast)
    dprint-fmt:
      glob: "*.{md,yml,yaml,json,toml}"
      run: dprint fmt {staged_files} --allow-no-files
      stage_fixed: true
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    # Ensure repo is clean and Cargo.lock is in sync
    check-clean-and-sync:
      run: |
        # Run affected checks to ensure Cargo.lock is up to date
        moon run --affected :check
        # Then check for any uncommitted changes (including updated lock files)
        if output="$(git status --porcelain)" && [ -n "$output" ]; then
          echo "✗ Repository has uncommitted changes. Please commit them before pushing:"
          echo "$output"
          exit 1
        fi

    # Optional: Run tests only for affected projects (comment out if too slow)
    # rust-test:
    #   glob: "*.rs"
    #   run: moon run --affected :test

    # Ensure clean formatting using Moon
    rust-fmt-check:
      glob: "*.rs"
      run: moon run :fmt-check

    # Check for outdated dependencies
    rust-outdated:
      glob: "*.rs"
      run: moon run --affected :outdated

commit-msg:
  commands:
    # Validate conventional commits directly
    conventional-commit:
      run: |
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,50}" "{1}"; then
          echo "✗ Commit message must follow conventional commits format:"
          echo "   type(scope): description"
          echo "   Example: feat(superffi): add naming conversion for WASM"
          exit 1
        fi
      skip:
        - merge
        - rebase

feat(logffi): complete LogFFI v0.2 dual-syntax implementation with examples
  crates/logffi/README.md
  crates/logffi/cookbook/03-error-handling.md
  crates/logffi/cookbook/README.md
  crates/logffi/examples/field_interpolation_demo.rs
  crates/logffi/examples/logffi_format_showcase.rs
  crates/logffi/examples/logffi_source_chaining.rs
  crates/logffi/examples/structured_logging_demo.rs
  crates/logffi/src/macros.rs
  crates/logffi/src/macros.rs.backup
  crates/logffi/tests/README.md
Due: rust-fmt, rust-clippy, dprint-fmt

feat(decisions): first draft of decisions
  README.md
  marketing/DECISIONS.md
  marketing/STRATEGY.md
  marketing/decisions/2025-08-06-branding-strategy.md
  marketing/decisions/2025-08-06-business-formation.md
  marketing/decisions/2025-08-06-infrastructure.md
  marketing/decisions/2025-08-06-website-technology.md
Due: dprint-fmt

feat(marketing): complete decision framework with comprehensive product naming strategy
  marketing/CLAUDE.md
  marketing/DECISIONS.md
  marketing/STRATEGY.md
  marketing/decisions/2025-08-06-branding-strategy.md
  marketing/decisions/2025-08-06-business-formation.md
  marketing/decisions/2025-08-06-company-logffi-naming.md
  marketing/decisions/2025-08-06-domain-strategy.md
  marketing/decisions/2025-08-06-infrastructure.md
  marketing/decisions/2025-08-06-logffi-naming.md
  marketing/decisions/2025-08-06-marketing-start-analysis.md
  marketing/decisions/2025-08-06-metarust-naming.md
  marketing/decisions/2025-08-06-product-suite-branding.md
  marketing/decisions/2025-08-06-website-technology.md
Due: dprint-fmt

feat(marketing): finalize domain strategy and improve decision tracking
  marketing/CLAUDE.md
  marketing/DECISIONS.md
  marketing/decisions/2025-08-06-domain-strategy.md
Due: dprint-fmt

feat(decisions): complete strategic decision framework with immediate action priorities
  marketing/DECISIONS.md
  marketing/decisions/2025-08-06-business-repo-location.md
  marketing/decisions/2025-08-06-development-focus.md
  marketing/decisions/2025-08-06-repository-architecture.md
  marketing/decisions/2025-08-06-task-management-system.md
Due: dprint-fmt

feat(logffi): add error analytics examples and integration tests
  crates/logffi/examples/error_debugging_tools.rs
  crates/logffi/examples/structured_error_logging.rs
  crates/logffi/tests/integration/error_analytics_integration.rs
  crates/logffi/tests/integration/mod.rs
  crates/superconfig/src/types/handle_id.rs
Due: rust-fmt, rust-clippy

docs(logffi): add comprehensive error monitoring and debugging cookbook entries
  crates/logffi/cookbook/07-error-monitoring-and-alerting.md
  crates/logffi/cookbook/08-error-debugging-workflows.md
Due: dprint-fmt

feat(logffi): complete error introspection enhancements with examples and tools
  .claude/settings.local.json
  .serena/cache/rust/document_symbols_cache_v23-06-25.pkl
  .serena/memories/architecture_and_codebase_structure.md
  .serena/memories/code_quality_standards.md
  .serena/memories/code_style_and_conventions.md
  .serena/memories/git_workflow_standards.md
  .serena/memories/logffi_suggested_enhancements.md
  .serena/memories/project_overview.md
  .serena/memories/rust_development_standards.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/memories/zero_warnings_policy.md
  .serena/project.yml
  crates/logffi/README.md
  crates/logffi/examples/error_debugging_tools.rs
  crates/logffi/examples/error_monitoring_dashboard.rs
  crates/logffi/src/macros.rs
  crates/logffi/tests/integration/error_info_method.rs
Due: rust-fmt, rust-clippy, js-fmt, dprint-fmt

fix: eliminate all warnings from logffi examples
  crates/logffi/examples/error_debugging_tools.rs
  crates/logffi/examples/structured_error_logging.rs
Due: rust-fmt, rust-clippy

feat(logffi): finalize error introspection enhancements
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/benches/error_info_performance.rs
  crates/logffi/examples/error_debugging_tools.rs
Due: rust-fmt, rust-clippy, dprint-fmt

chore: update development workflow best practices in memory system
  .claude/settings.local.json
  .serena/memories/development_workflow_best_practices.md
Due: js-fmt, dprint-fmt

feat: add Nix flake configuration for development environment
  .envrc
  flake.nix
Due: none

fix: correct rust toolchain syntax in flake.nix
  flake.nix
Due: none

fix: correct flake syntax for Nix 2.6 compatibility
  flake.nix
Due: none

feat: enhance decision tracking system and simplify development setup
  Makefile
  README.md
  flake.nix
  marketing/DECISIONS.md
  marketing/decisions/2025-08-06-nix-development-environment.md
  marketing/decisions/2025-08-07-serena-mcp-integration.md
  marketing/decisions/2025-08-07-superconfig-cli-library-selection.md
Due: dprint-fmt

chore: add proto configuration and workspace root Cargo.toml
  .prototools
  Cargo.toml
Due: dprint-fmt

feat: simplify development setup with declarative proto configuration
  .prototools
  Cargo.toml
  Makefile
  README.md
Due: dprint-fmt

feat: add moon global target for running crate examples
  .moon/scripts/run_examples.sh
  .moon/tasks.yml
Due: dprint-fmt

feat: tidy up
  .moon/tasks.yml
  marketing/STRATEGY.md
Due: dprint-fmt

feat(rusttoolkit): complete rebranding from meta-rust to rusttoolkit
  crates/rusttoolkit/Cargo.lock
  crates/rusttoolkit/Cargo.toml
  crates/rusttoolkit/README.md
  crates/rusttoolkit/plans/enhanced-format-macro.md
  crates/rusttoolkit/rust-toolchain.toml
  crates/rusttoolkit/src/for_each.rs
  crates/rusttoolkit/src/lib.rs
  crates/rusttoolkit/src/meta.rs
  crates/rusttoolkit/src/transform.rs
  crates/rusttoolkit/tests/debug_test.rs
  crates/rusttoolkit/tests/integration/loops/for_each.rs
  crates/rusttoolkit/tests/integration/mod.rs
  crates/rusttoolkit/tests/integration/transform_tests.rs
  crates/rusttoolkit/tests/lib.rs
Due: rust-fmt, rust-clippy, dprint-fmt

chore: update documentation and memory files for rebranding
  .claude/plans/archived/tracing-native-bridge.md
  .serena/memories/architecture_and_codebase_structure.md
  .serena/memories/code_quality_standards.md
  .serena/memories/code_style_and_conventions.md
  .serena/memories/development_workflow_best_practices.md
  .serena/memories/git_workflow_standards.md
  .serena/memories/logffi_suggested_enhancements.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  marketing/CLAUDE.md
  marketing/DECISIONS.md
  marketing/STRATEGY.md
  marketing/decisions/2025-08-06-branding-strategy.md
  marketing/decisions/2025-08-06-company-logffi-naming.md
  marketing/decisions/2025-08-06-metarust-naming.md
  marketing/decisions/2025-08-06-nix-development-environment.md
  marketing/decisions/2025-08-06-product-suite-branding.md
  marketing/decisions/2025-08-06-repository-architecture.md
  marketing/decisions/2025-08-06-website-technology.md
Due: dprint-fmt

chore(marketing): removed marketing section
  marketing/CLAUDE.md
  marketing/DECISIONS.md
  marketing/LOGFUSION_DOCUMENTATION_STRATEGY.md
  marketing/STRATEGY.md
  marketing/decisions/2025-08-06-branding-strategy.md
  marketing/decisions/2025-08-06-business-formation.md
  marketing/decisions/2025-08-06-business-repo-location.md
  marketing/decisions/2025-08-06-company-logffi-naming.md
  marketing/decisions/2025-08-06-development-focus.md
  marketing/decisions/2025-08-06-domain-strategy.md
  marketing/decisions/2025-08-06-infrastructure.md
  marketing/decisions/2025-08-06-logffi-naming.md
  marketing/decisions/2025-08-06-marketing-start-analysis.md
  marketing/decisions/2025-08-06-metarust-naming.md
  marketing/decisions/2025-08-06-nix-development-environment.md
  marketing/decisions/2025-08-06-product-suite-branding.md
  marketing/decisions/2025-08-06-repository-architecture.md
  marketing/decisions/2025-08-06-task-management-system.md
  marketing/decisions/2025-08-06-website-technology.md
  marketing/decisions/2025-08-07-serena-mcp-integration.md
  marketing/decisions/2025-08-07-superconfig-cli-library-selection.md
Due: dprint-fmt

fix(superconfig): logffi -> logfusion
  crates/superconfig/Cargo.toml
Due: dprint-fmt

fix(superconfig): resolve test failures and lint warnings
  crates/rusttoolkit/dump-1754571833866574.json
  crates/superconfig/Cargo.lock
  crates/superconfig/src/lib.rs
  crates/superconfig/src/types/handle_id.rs
  crates/superconfig/tests/handle_id_tests.rs
Due: rust-fmt, rust-clippy, js-fmt, dprint-fmt

fix(logfusion): remove unmaintained paste dependency
  crates/logfusion/Cargo.lock
  crates/logfusion/Cargo.toml
Due: dprint-fmt

fix(superhashmap): fix doctests and add missing serde_json dependency
  crates/superhashmap/Cargo.lock
  crates/superhashmap/Cargo.toml
  crates/superhashmap/src/lib.rs
  crates/superhashmap/src/map.rs
  crates/superhashmap/src/set.rs
Due: rust-fmt, rust-clippy, dprint-fmt

fix(ci): install cargo-llvm-cov for coverage tasks
  .github/actions/setup-moon/action.yml
Due: dprint-fmt

fix(hash-benchmark): resolve license compliance issues
  crates/hash-benchmark/Cargo.toml
  deny.toml
Due: dprint-fmt

fix(multiffi): make helper functions private for proc-macro crate
  crates/multiffi/src/tests.rs
Due: rust-fmt, rust-clippy

chore: logfusion 0.1.0
  crates/logfusion/Cargo.lock
  crates/logfusion/Cargo.toml
Due: dprint-fmt

docs: update README with complete crate overview and DeepBrain stack description
  README.md
Due: dprint-fmt
