Repository deepbrainspace/superconfig: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, python-fmt, python-lint, js-fmt, dprint-fmt

lefthook.yml:

# Lefthook configuration for SuperConfig monorepo
# Fast git hooks using Moon build system with conditional execution

pre-commit:
  parallel: true
  commands:
    # Rust formatting using Moon tasks
    rust-fmt:
      glob: "*.rs"
      run: moon run :fmt
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: moon run :clippy

    # Python formatting and linting - only changed files
    python-fmt:
      glob: "*.py"
      run: python -m black {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    python-lint:
      glob: "*.py"
      run: python -m ruff check {staged_files}
      skip:
        - merge
        - rebase

    # Node.js/JavaScript formatting - only changed files
    js-fmt:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    # Comprehensive formatting with dprint (Rust-based, fast)
    dprint-fmt:
      glob: "*.{md,yml,yaml,json,toml}"
      run: dprint fmt {staged_files} --allow-no-files
      stage_fixed: true
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    # Ensure repo is clean and Cargo.lock is in sync
    check-clean-and-sync:
      run: |
        # Run affected checks to ensure Cargo.lock is up to date
        moon run --affected :check
        # Then check for any uncommitted changes (including updated lock files)
        if output="$(git status --porcelain)" && [ -n "$output" ]; then
          echo "✗ Repository has uncommitted changes. Please commit them before pushing:"
          echo "$output"
          exit 1
        fi

    # Optional: Run tests only for affected projects (comment out if too slow)
    # rust-test:
    #   glob: "*.rs"
    #   run: moon run --affected :test

    # Ensure clean formatting using Moon
    rust-fmt-check:
      glob: "*.rs"
      run: moon run :fmt-check

    # Check for outdated dependencies
    rust-outdated:
      glob: "*.rs"
      run: moon run --affected :outdated

commit-msg:
  commands:
    # Validate conventional commits directly
    conventional-commit:
      run: |
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,50}" "{1}"; then
          echo "✗ Commit message must follow conventional commits format:"
          echo "   type(scope): description"
          echo "   Example: feat(superffi): add naming conversion for WASM"
          exit 1
        fi
      skip:
        - merge
        - rebase

feat(logffi): finalize crate for publishing with comprehensive documentation
  crates/logffi/README.md
  crates/logffi/src/lib.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig-macros): finalize crate for publishing with comprehensive documentation
  crates/superconfig-macros/Cargo.toml
  crates/superconfig-macros/README.md
  crates/superconfig-macros/src/lib.rs
Due: rust-fmt, rust-clippy, dprint-fmt

refactor(logffi): streamline test coverage with targeted test for Tarpaulin uncovered lines
  crates/logffi/src/lib.rs
Due: rust-fmt, rust-clippy

feat(superconfig-macros): coverage update
  README.md
  crates/superconfig-macros/coverage.lcov
  crates/superconfig-macros/tests/comprehensive_coverage_tests.rs
  crates/superconfig-macros/tests/error_path_coverage_tests.rs
  crates/superconfig-macros/tests/macro_error_tests.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig-macros): achieve 90.35% coverage with comprehensive testing
  crates/superconfig-macros/COVERAGE_ANALYSIS.md
  crates/superconfig-macros/README.md
  crates/superconfig-macros/coverage-report/control.js
  crates/superconfig-macros/coverage-report/index.html
  crates/superconfig-macros/coverage-report/style.css
  crates/superconfig-macros/tests/advanced_coverage_tests.rs
Due: rust-fmt, rust-clippy, js-fmt, dprint-fmt

fix(superconfig-macros): resolve formatting issues and add v0.1.0 changelog
  crates/superconfig-macros/CHANGELOG.md
Due: dprint-fmt

fix(superconfig-macros): update changelog link to point to crates.io
  crates/superconfig-macros/CHANGELOG.md
Due: dprint-fmt

feat(logffi): changelog
  crates/logffi/CHANGELOG.md
Due: dprint-fmt

feat: fix CI/CD and add standardized coverage reports across all crates
  .github/actions/setup-moon/action.yml
  crates/logffi/coverage-report/control.js
  crates/logffi/coverage-report/index.html
  crates/logffi/coverage-report/style.css
  crates/multiffi/coverage-report/control.js
  crates/multiffi/coverage-report/index.html
  crates/multiffi/coverage-report/style.css
  crates/superconfig/coverage-report/control.js
  crates/superconfig/coverage-report/index.html
  crates/superconfig/coverage-report/style.css
Due: js-fmt, dprint-fmt

docs(superconfig): add comprehensive CHANGELOG.md for v0.2.0 release
  crates/superconfig/CHANGELOG.md
Due: dprint-fmt

fix(ci): simplify Rust toolchain setup in GitHub Actions
  .github/actions/setup-moon/action.yml
Due: dprint-fmt

Revert "fix(ci): simplify Rust toolchain setup in GitHub Actions"
  .github/actions/setup-moon/action.yml
Due: dprint-fmt

fix: regenerate coverage reports with relative paths for CI compatibility
  crates/logffi/coverage-report/html/control.js
  crates/logffi/coverage-report/html/index.html
  crates/logffi/coverage-report/html/style.css
  crates/logffi/coverage-report/index.html
  crates/multiffi/coverage-report/html/control.js
  crates/multiffi/coverage-report/html/index.html
  crates/multiffi/coverage-report/html/style.css
  crates/multiffi/coverage-report/index.html
  crates/superconfig-macros/coverage-report/html/control.js
  crates/superconfig-macros/coverage-report/html/index.html
  crates/superconfig-macros/coverage-report/html/style.css
  crates/superconfig-macros/coverage-report/index.html
  crates/superconfig/coverage-report/html/control.js
  crates/superconfig/coverage-report/html/index.html
  crates/superconfig/coverage-report/html/style.css
  crates/superconfig/coverage-report/index.html
Due: js-fmt

fix(ci): ensure rustc component is installed for Rust toolchain
  .github/actions/setup-moon/action.yml
Due: dprint-fmt

feat(benchmark): first
  .claude/plans/architectural-consolidation-analysis.md
  .claude/plans/rust-ai-coder-tui.md
  .claude/plans/superconfig-v2-rewrite/23-hashmap.txt
  .claude/plans/superdashmap-enhancement-plan.md
  .github/actions/setup-moon/action.yml
  crates/hash-benchmark/Cargo.lock
  crates/hash-benchmark/Cargo.toml
  crates/hash-benchmark/rust-toolchain.toml
  crates/hash-benchmark/src/main.rs
  crates/superconfig/Cargo.lock
  crates/superconfig/Cargo.toml
  crates/superhashmap/Cargo.lock
  crates/superhashmap/Cargo.toml
  crates/superhashmap/rust-toolchain.toml
  crates/superhashmap/src/lib.rs
  crates/superhashmap/src/map.rs
  crates/superhashmap/src/raw/alloc.rs
  crates/superhashmap/src/raw/mod.rs
  crates/superhashmap/src/raw/probe.rs
  crates/superhashmap/src/raw/utils/counter.rs
  crates/superhashmap/src/raw/utils/mod.rs
  crates/superhashmap/src/raw/utils/parker.rs
  crates/superhashmap/src/raw/utils/stack.rs
  crates/superhashmap/src/raw/utils/tagged.rs
  crates/superhashmap/src/serde_impls.rs
  crates/superhashmap/src/set.rs
Due: rust-fmt, rust-clippy, dprint-fmt

docs: update LogFFI phase description and task details
  .claude/plans/superconfig-v2-rewrite/24-superconfig-v21-implementation-plan.md
Due: dprint-fmt

feat(logffi): implement universal logging with meta-rust macro generation
  .moon/toolchain.yml
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/src/error_macros.rs
  crates/logffi/src/generated_macros.rs
  crates/logffi/src/lib.rs
  crates/logffi/tests/integration/macros.rs
  crates/logffi/tests/integration/mod.rs
  crates/logffi/tests/lib.rs
  crates/meta-rust/Cargo.lock
  crates/meta-rust/Cargo.toml
  crates/meta-rust/README.md
  crates/meta-rust/rust-toolchain.toml
  crates/meta-rust/src/lib.rs
  crates/meta-rust/src/loops/for_each.rs
  crates/meta-rust/src/loops/mod.rs
  crates/meta-rust/tests/debug_test.rs
  crates/meta-rust/tests/integration/loops/for_each.rs
  crates/meta-rust/tests/integration/mod.rs
  crates/meta-rust/tests/lib.rs
  crates/superconfig-macros/tests/advanced_coverage_tests.rs
  crates/superconfig-macros/tests/comprehensive_coverage_tests.rs
  crates/superconfig-macros/tests/error_path_coverage_tests.rs
  crates/superconfig-macros/tests/macro_error_tests.rs
  crates/superconfig/Cargo.lock
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi 0.2.0): define errors macro
  crates/logffi/src/error_macros.rs
  crates/logffi/src/generated_macros.rs
  crates/logffi/src/lib.rs
  crates/logffi/src/macros.rs
  crates/logffi/tests/integration/define_errors.rs
  crates/logffi/tests/integration/macros.rs
  crates/logffi/tests/integration/mod.rs
Due: rust-fmt, rust-clippy

feat(logffi 0.2.0): define errors macro
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/examples/superconfig_errors.rs
  crates/logffi/src/macros.rs
  crates/logffi/tests/integration/define_errors.rs
  crates/logffi/tests/integration/macros.rs
  crates/logffi/tests/integration/mod.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi): add new_variant_name constructor methods for streamlined error creation
  crates/logffi/src/macros.rs
  crates/logffi/tests/integration/macros.rs
Due: rust-fmt, rust-clippy

docs(logffi): update superconfig_errors example to showcase constructor methods
  crates/logffi/examples/superconfig_errors.rs
Due: rust-fmt, rust-clippy

docs(logffi): improve example output formatting with visual indicators
  crates/logffi/examples/superconfig_errors.rs
Due: rust-fmt, rust-clippy

feat(logffi): add source error chaining support with thiserror #[source] attribute
  crates/logffi/examples/source_error_chaining.rs
  crates/logffi/examples/superconfig_errors.rs
  crates/logffi/src/macros.rs
  crates/logffi/tests/integration/macros.rs
Due: rust-fmt, rust-clippy

docs(logffi): complete rewrite of README and add comprehensive cookbook
  crates/logffi/README.md
  crates/logffi/cookbook/01-basic-logging.md
  crates/logffi/cookbook/02-error-handling.md
  crates/logffi/cookbook/03-source-error-chaining.md
  crates/logffi/cookbook/04-ffi-integration.md
  crates/logffi/cookbook/05-backend-configuration.md
  crates/logffi/cookbook/README.md
Due: dprint-fmt

feat(logffi 0.2.0): backends
  .claude/plans/superconfig-v2-rewrite/24d-logffi-workstatus.txt
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/examples/backend_showcase.rs
  crates/logffi/src/backend/callback_backend.rs
  crates/logffi/src/backend/log_backend.rs
  crates/logffi/src/backend/mod.rs
  crates/logffi/src/backend/slog_backend.rs
  crates/logffi/src/backend/tracing_backend.rs
  crates/logffi/src/lib.rs
  crates/logffi/src/macros.rs
  crates/logffi/tests/integration/backend_features.rs
  crates/logffi/tests/integration/mod.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi 0.2.0): backends documentation and cookbook
  crates/logffi/README.md
  crates/logffi/cookbook/06-backend-selection.md
Due: dprint-fmt

docs: update LogFFI implementation status and add comprehensive comparison chart
  .claude/plans/superconfig-v2-rewrite/24-superconfig-v21-implementation-plan.md
  .claude/plans/superconfig-v2-rewrite/24b-logging-addendum.md
  crates/logffi/README.md
Due: dprint-fmt

feat(logffi): enhance rustdocs with comprehensive examples and ayu theme
  crates/logffi/Cargo.toml
  crates/logffi/doc-header.html
  crates/logffi/src/lib.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi-0.2.0): tracing only
  .claude/plans/superconfig-v2-rewrite/24c-logffi.txt
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/README.md
  crates/logffi/cookbook/01-destinations.md
  crates/logffi/cookbook/02-ffi-bindings.md
  crates/logffi/plan/01-logffi-structure.txt
  crates/logffi/plans/refactor-to-bridge.md
  crates/logffi/plans/tracing-native-bridge.md
  crates/logffi/src/backend/callback_backend.rs
  crates/logffi/src/backend/log_backend.rs
  crates/logffi/src/backend/mod.rs
  crates/logffi/src/backend/slog_backend.rs
  crates/logffi/src/backend/tracing_backend.rs
  crates/logffi/src/callback.rs
  crates/logffi/src/lib.rs
  crates/logffi/src/macros.rs
  crates/logffi/src/tracing.rs
  crates/meta-rust/Cargo.lock
  crates/meta-rust/Cargo.toml
  crates/meta-rust/plans/enhanced-format-macro.md
  crates/meta-rust/src/for_each.rs
  crates/meta-rust/src/lib.rs
  crates/meta-rust/src/loops/mod.rs
  crates/meta-rust/src/meta.rs
  crates/meta-rust/src/transform.rs
  crates/meta-rust/tests/integration/mod.rs
  crates/meta-rust/tests/integration/transform_tests.rs
Due: rust-fmt, rust-clippy, dprint-fmt

test(logffi): add integration tests for auto-init, callbacks, and macro errors
  crates/logffi/tests/integration/auto_init_tests.rs
  crates/logffi/tests/integration/callback_tests.rs
  crates/logffi/tests/integration/macro_error_tests.rs
Due: rust-fmt, rust-clippy

feat(logffi-0.2.0): tracing only - fix tests
  .claude/plans/archived/refactor-to-bridge.md
  .claude/plans/archived/tracing-native-bridge.md
  crates/logffi/Cargo.toml
  crates/logffi/examples/source_error_chaining.rs
  crates/logffi/examples/superconfig_errors.rs
  crates/logffi/examples/tracing_showcase.rs
  crates/logffi/plan/01-logffi-structure.txt
  crates/logffi/src/callback.rs
  crates/logffi/src/lib.rs
  crates/logffi/src/macros.rs
  crates/logffi/src/tracing.rs
  crates/logffi/tests/README.md
  crates/logffi/tests/integration/auto_init_tests.rs
  crates/logffi/tests/integration/auto_initialization.rs
  crates/logffi/tests/integration/backend_features.rs
  crates/logffi/tests/integration/callback_functionality.rs
  crates/logffi/tests/integration/callback_tests.rs
  crates/logffi/tests/integration/define_errors_macro.rs
  crates/logffi/tests/integration/logging_macros.rs
  crates/logffi/tests/integration/macro_error_tests.rs
  crates/logffi/tests/integration/macros.rs
  crates/logffi/tests/integration/mod.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi-0.2.0): tracing only - fix examples
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/examples/advanced_tracing_features.rs
  crates/logffi/examples/backend_showcase.rs
  crates/logffi/examples/field_interpolation_demo.rs
  crates/logffi/examples/superconfig_errors.rs
  crates/logffi/examples/tracing_showcase.rs
  crates/logffi/src/macros.rs
  crates/logffi/tests/integration/mod.rs
  crates/logffi/tests/integration/thiserror_integration.rs
  crates/logffi/tests/integration/tracing_ecosystem.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi-0.2.0): tracing only - tests done
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/examples/advanced_tracing_features.rs
  crates/logffi/examples/field_interpolation_demo.rs
  crates/logffi/src/tracing.rs
  crates/logffi/tests/integration/mod.rs
  crates/logffi/tests/integration/thiserror.rs
  crates/logffi/tests/integration/tracing.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi-0.2.0): tracing only - examples done
  crates/logffi/examples/structured_logging_demo.rs
Due: rust-fmt, rust-clippy

feat(logffi-0.2.0): tracing only - cookboos done
  crates/logffi/README.md
  crates/logffi/cookbook/01-basic-logging.md
  crates/logffi/cookbook/01-destinations.md
  crates/logffi/cookbook/02-error-handling.md
  crates/logffi/cookbook/02-ffi-bindings.md
  crates/logffi/cookbook/02-structured-logging.md
  crates/logffi/cookbook/03-error-handling.md
  crates/logffi/cookbook/03-source-error-chaining.md
  crates/logffi/cookbook/04-ffi-integration.md
  crates/logffi/cookbook/04-spans-instrumentation.md
  crates/logffi/cookbook/05-advanced-tracing.md
  crates/logffi/cookbook/05-backend-configuration.md
  crates/logffi/cookbook/06-backend-selection.md
  crates/logffi/cookbook/06-ffi-integration.md
  crates/logffi/cookbook/README.md
  crates/logffi/src/tracing.rs
  crates/logffi/tests/integration/logffi_structured_logging.rs
  crates/logffi/tests/integration/mod.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi-0.2.0): tracing only - new format for define_errors
  crates/logffi/cookbook/03-error-handling.md
  crates/logffi/examples/structured_logging_demo.rs
  crates/logffi/src/macros.rs
  crates/logffi/src/macros.rs.backup
  crates/logffi/tests/integration/define_errors_logffi.rs
  crates/logffi/tests/integration/define_errors_thiserror.rs
  crates/logffi/tests/integration/mod.rs
  crates/superconfig/Cargo.lock
Due: rust-fmt, rust-clippy, dprint-fmt

feat(logffi-0.2.0): tracing only - new format for define_errors
  crates/logffi/src/macros.rs
Due: rust-fmt, rust-clippy
