Repository deepbrainspace/superconfig: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, python-fmt, python-lint, js-fmt, dprint-fmt

lefthook.yml:

# Lefthook configuration for SuperConfig monorepo
# Fast git hooks using Moon build system with conditional execution

pre-commit:
  parallel: true
  commands:
    # Rust formatting using Moon tasks
    rust-fmt:
      glob: "*.rs"
      run: moon run :fmt
      stage_fixed: true

    rust-clippy:
      glob: "*.rs"
      run: moon run :clippy

    # Python formatting and linting - only changed files
    python-fmt:
      glob: "*.py"
      run: python -m black {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    python-lint:
      glob: "*.py"
      run: python -m ruff check {staged_files}
      skip:
        - merge
        - rebase

    # Node.js/JavaScript formatting - only changed files
    js-fmt:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    # Comprehensive formatting with dprint (Rust-based, fast)
    dprint-fmt:
      glob: "*.{md,yml,yaml,json,toml}"
      run: dprint fmt {staged_files} --allow-no-files
      stage_fixed: true
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    # Check for unstaged changes
    check-clean-working-tree:
      run: |
        if ! git diff --quiet; then
          echo "✗ You have unstaged changes. Please commit or stash them before pushing:"
          git diff --name-only
          exit 1
        fi

    # Optional: Run tests only for affected projects (comment out if too slow)
    # rust-test:
    #   glob: "*.rs"
    #   run: moon run --affected :test

    # Ensure clean formatting using Moon
    rust-fmt-check:
      glob: "*.rs"
      run: moon run :fmt-check

    # Check for outdated dependencies
    rust-outdated:
      glob: "*.rs"
      run: moon run --affected :outdated

commit-msg:
  commands:
    # Validate conventional commits directly
    conventional-commit:
      run: |
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,50}" "{1}"; then
          echo "✗ Commit message must follow conventional commits format:"
          echo "   type(scope): description"
          echo "   Example: feat(superffi): add naming conversion for WASM"
          exit 1
        fi
      skip:
        - merge
        - rebase

feat: add Moon publish-release task with git tagging
  .moon/scripts/publish.sh
  .moon/tasks.yml
Due: dprint-fmt

feat: add version confirmation to publish script
  .moon/scripts/publish.sh
Due: none

refactor: replace basic publish task with enhanced version
  .moon/tasks.yml
Due: dprint-fmt

feat: add non-interactive publish-auto task and version check
  .moon/scripts/publish.sh
  .moon/tasks.yml
Due: dprint-fmt

fix: moon publish
  .moon/scripts/publish.sh
Due: none

fix: improve publish script reliability and UX
  .moon/scripts/publish.sh
Due: none

docs: improve README badges and add docs.rs configuration
  README.md
  crates/superffi/Cargo.toml
  crates/superffi/README.md
Due: dprint-fmt

feat(superffi): bump version to 0.1.2 with docs.rs fixes
  crates/superffi/CHANGELOG.md
  crates/superffi/Cargo.toml
Due: dprint-fmt

feat(superffi): set ayu theme as default for docs.rs
  crates/superffi/Cargo.toml
Due: dprint-fmt

chore: update Cargo.lock for SuperFFI v0.1.2
  crates/superffi/Cargo.lock
Due: none

fix: enhance pre-push hook to catch Cargo.lock sync issues
  lefthook.yml
Due: dprint-fmt

docs(superffi): mark Phase 1 testing as complete
  .claude/plans/superffi/02-progress.md
Due: dprint-fmt

feat(superconfig-ffi): implement multi-language FFI bindings
  crates/superconfig-ffi/Cargo.lock
  crates/superconfig-ffi/Cargo.toml
  crates/superconfig-ffi/README.md
  crates/superconfig-ffi/moon.yml
  crates/superconfig-ffi/reference/COMPLETE_PERFORMANCE_COMPARISON.md
  crates/superconfig-ffi/reference/PERFORMANCE_ANALYSIS.md
  crates/superconfig-ffi/reference/PERFORMANCE_MICROSECONDS.md
  crates/superconfig-ffi/reference/benchmark.mjs
  crates/superconfig-ffi/reference/benchmark_fixed.mjs
  crates/superconfig-ffi/reference/benchmark_python.py
  crates/superconfig-ffi/reference/nextjs-example.md
  crates/superconfig-ffi/reference/simple_python_benchmark.py
  crates/superconfig-ffi/reference/test_nextjs_simple.mjs
  crates/superconfig-ffi/reference/test_nodejs.js
  crates/superconfig-ffi/reference/test_python.py
  crates/superconfig-ffi/reference/test_usage.js
  crates/superconfig-ffi/reference/test_usage.py
  crates/superconfig-ffi/reference/test_wasi.mjs
  crates/superconfig-ffi/reference/test_wasm.html
  crates/superconfig-ffi/reference/test_wasm_node.js
  crates/superconfig-ffi/reference/test_wasm_nodejs.mjs
  crates/superconfig-ffi/rust-toolchain.toml
  crates/superconfig-ffi/src/lib.rs
Due: rust-fmt, rust-clippy, python-fmt, python-lint, js-fmt, dprint-fmt

docs(superconfig): complete SuperConfig V2 planning documents
  .claude/plans/handle_pattern_refactor.md
  .claude/plans/superconfig-handle-chat/ground_up_architecture.md
  .claude/plans/superconfig-handle/feasibility_implementation.md
  .claude/plans/superconfig-handle/performance_comparison.md
  .claude/plans/superconfig-handle/real_world_applications.md
  .claude/plans/superconfig-v2-rewrite/00-index.md
  .claude/plans/superconfig-v2-rewrite/01-architecture-overview.md
  .claude/plans/superconfig-v2-rewrite/02-missed-features-analysis.md
  .claude/plans/superconfig-v2-rewrite/03-performance-feasibility-analysis.md
  .claude/plans/superconfig-v2-rewrite/04-crate-structure-and-organization.md
  .claude/plans/superconfig-v2-rewrite/05-implementation-phases.md
  .claude/plans/superffi/02-progress.md
  .claude/plans/superffi/08-phase2-ffi-wrapper.md
  .claude/plans/superffi/12-testing-strategy.md
  .claude/settings.local.json
  crates/multiffi/CHANGELOG.md
  crates/multiffi/Cargo.lock
  crates/multiffi/Cargo.toml
  crates/multiffi/README.md
  crates/multiffi/moon.yml
  crates/multiffi/rust-toolchain.toml
  crates/multiffi/src/lib.rs
  crates/multiffi/src/tests.rs
  crates/superconfig/examples/guardy_usage.rs
  crates/superconfig/src/fluent.rs
  crates/superconfig/src/lib.rs
  crates/superconfig/src/verbosity.rs
  crates/superconfig/tests/verbosity_tests.rs
Due: rust-fmt, rust-clippy, js-fmt, dprint-fmt

feat(superconfig-v2): complete comprehensive V2 planning documentation
  .claude/plans/superconfig-v2-rewrite/00-index.md
  .claude/plans/superconfig-v2-rewrite/06-core-engine-design.md
  .claude/plans/superconfig-v2-rewrite/07-provider-system-design.md
  .claude/plans/superconfig-v2-rewrite/08-ffi-integration-plan.md
  .claude/plans/superconfig-v2-rewrite/09-performance-optimization-strategy.md
  .claude/plans/superconfig-v2-rewrite/10-testing-and-benchmarking-plan.md
  .claude/plans/superconfig-v2-rewrite/11-hot-reload-implementation.md
  .claude/plans/superconfig-v2-rewrite/12-api-design-reference.md
  .claude/plans/superconfig-v2-rewrite/13-launch-strategy.md
  .claude/plans/superconfig-v2-rewrite/14-deployment-and-packaging.md
Due: dprint-fmt

feat(superconfig): superdb planning and comparison with superconfig v2
  .claude/plans/archived/superconfig-handle-chat/ground_up_architecture.md
  .claude/plans/ideation/superdb-worlds-fastest-inmemory-database.md
  .claude/plans/superconfig-handle/01-feasibility_implementation.md
  .claude/plans/superconfig-handle/02-performance_comparison.md
  .claude/plans/superconfig-handle/03-real_world_applications.md
  .claude/plans/superconfig-handle/04-ffi-impact.txt
  .claude/plans/superconfig-handle/05-comparison-etcd-etc.txt
  .claude/plans/superconfig-v2-rewrite/15-superdb-optimizations-integration.md
Due: dprint-fmt

feat(superconfig): v2 phase 1
  .claude/plans/superconfig-v2-rewrite/work-log.md
  crates-archive/superconfig/CHANGELOG.md
  crates-archive/superconfig/Cargo.lock
  crates-archive/superconfig/Cargo.toml
  crates-archive/superconfig/examples/README.md
  crates-archive/superconfig/examples/guardy_usage.rs
  crates-archive/superconfig/moon.yml
  crates-archive/superconfig/src/access.rs
  crates-archive/superconfig/src/fluent.rs
  crates-archive/superconfig/src/lib.rs
  crates-archive/superconfig/src/merge.rs
  crates-archive/superconfig/src/providers/env.rs
  crates-archive/superconfig/src/providers/filter.rs
  crates-archive/superconfig/src/providers/format.rs
  crates-archive/superconfig/src/providers/mod.rs
  crates-archive/superconfig/src/providers/wildcard/builder.rs
  crates-archive/superconfig/src/providers/wildcard/core.rs
  crates-archive/superconfig/src/providers/wildcard/discovery.rs
  crates-archive/superconfig/src/providers/wildcard/mod.rs
  crates-archive/superconfig/src/providers/wildcard/parsing.rs
  crates-archive/superconfig/src/providers/wildcard/sorting.rs
  crates-archive/superconfig/src/verbosity.rs
  crates-archive/superconfig/tests/integration_tests.rs
  crates-archive/superconfig/tests/verbosity_tests.rs
  crates/superconfig/Cargo.toml
  crates/superconfig/src/core.rs
  crates/superconfig/src/lib.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig): v2 core - core.rs
  .claude/plans/superconfig-v2-rewrite/work-log.md
  crates/superconfig/src/core.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig): update dependencies to latest versions and exclude archived crates from linting
  .claude/plans/superconfig-v2-rewrite/work-log.md
  .moon/tasks.yml
  crates-archive/superconfig-ffi/Cargo.lock
  crates-archive/superconfig-ffi/Cargo.toml
  crates-archive/superconfig-ffi/README.md
  crates-archive/superconfig-ffi/moon.yml
  crates-archive/superconfig-ffi/reference/COMPLETE_PERFORMANCE_COMPARISON.md
  crates-archive/superconfig-ffi/reference/PERFORMANCE_ANALYSIS.md
  crates-archive/superconfig-ffi/reference/PERFORMANCE_MICROSECONDS.md
  crates-archive/superconfig-ffi/reference/benchmark.mjs
  crates-archive/superconfig-ffi/reference/benchmark_fixed.mjs
  crates-archive/superconfig-ffi/reference/benchmark_python.py
  crates-archive/superconfig-ffi/reference/nextjs-example.md
  crates-archive/superconfig-ffi/reference/simple_python_benchmark.py
  crates-archive/superconfig-ffi/reference/test_nextjs_simple.mjs
  crates-archive/superconfig-ffi/reference/test_nodejs.js
  crates-archive/superconfig-ffi/reference/test_python.py
  crates-archive/superconfig-ffi/reference/test_usage.js
  crates-archive/superconfig-ffi/reference/test_usage.py
  crates-archive/superconfig-ffi/reference/test_wasi.mjs
  crates-archive/superconfig-ffi/reference/test_wasm.html
  crates-archive/superconfig-ffi/reference/test_wasm_node.js
  crates-archive/superconfig-ffi/reference/test_wasm_nodejs.mjs
  crates-archive/superconfig-ffi/rust-toolchain.toml
  crates-archive/superconfig-ffi/src/lib.rs
  crates/superconfig/Cargo.lock
  crates/superconfig/Cargo.toml
  crates/superconfig/benches/registry_bench.rs
  crates/superconfig/moon.yml
  crates/superconfig/src/core.rs
  lefthook.yml
Due: rust-fmt, rust-clippy, python-fmt, python-lint, js-fmt, dprint-fmt

feat(superconfig): v2 core - separated the file into a folder
  .claude/plans/super-os-ai-integrated-operating-system.md
  .claude/plans/superconfig-v2-rewrite/05-implementation-phases.md
  .claude/plans/superconfig-v2-rewrite/06-core-engine-design.md
  .claude/plans/superconfig-v2-rewrite/07-provider-system-design.md
  .claude/plans/superconfig-v2-rewrite/08-ffi-integration-plan.md
  .claude/plans/superconfig-v2-rewrite/16-system-architecture.txt
  .claude/plans/superconfig-v2-rewrite/17-fluent-api-error-handling.md
  .claude/plans/superconfig-v2-rewrite/work-log.md
  .claude/plans/superetcd-distributed-config-management.md
  .claude/plans/superinfer-cpu-ai-inference-engine.md
  crates/superconfig/src/config_flags.rs
  crates/superconfig/src/core/errors.rs
  crates/superconfig/src/core/handle.rs
  crates/superconfig/src/core/mod.rs
  crates/superconfig/src/core/registry.rs
  crates/superconfig/src/core/stats.rs
  crates/superconfig/src/lib.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig-macros): working tests an clippy
  crates/superconfig-macros/Cargo.lock
  crates/superconfig-macros/Cargo.toml
  crates/superconfig-macros/rust-toolchain.toml
  crates/superconfig-macros/src/json_helper.rs
  crates/superconfig-macros/src/lib.rs
  crates/superconfig-macros/src/try_method.rs
  crates/superconfig-macros/tests/bidirectional_json_tests.rs
  crates/superconfig-macros/tests/combined_tests.rs
  crates/superconfig-macros/tests/from_json_full_tests.rs
  crates/superconfig-macros/tests/json_helper_tests.rs
  crates/superconfig-macros/tests/try_method_tests.rs
  crates/superconfig-macros/tests/unified_json_tests.rs
  crates/superconfig/Cargo.lock
  crates/superconfig/Cargo.toml
  crates/superconfig/src/core/errors.rs
  crates/superconfig/src/core/registry.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig): implement handle_mode JSON helpers and update build tools
  .claude/CLAUDE.md
  crates/superconfig-macros/src/json_helper.rs
  crates/superconfig-macros/tests/handle_mode_tests.rs
  crates/superconfig/src/core/registry.rs
  crates/superconfig/test_macro_methods.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig): converted error to arc
  crates/superconfig/src/config_flags.rs
  crates/superconfig/src/core/errors.rs
  crates/superconfig/src/core/registry.rs
Due: rust-fmt, rust-clippy

feat(superconfig): tested arc config enable json macro
  .claude/plans/ideation/05-typed-registry-crate.md
  .claude/plans/superconfig-v2-rewrite/18-config-registry-architecture.md
  .claude/plans/superconfig-v2-rewrite/work-log.md
  crates/superconfig/src/core/registry.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig): complete Arc conversion with performance optimization
  .claude/plans/superconfig-v2-rewrite/19-error-handling.txt
  .claude/plans/superconfig-v2-rewrite/20-error-registry-architecture.md
  .claude/plans/superconfig-v2-rewrite/work-log.md
  crates/superconfig/benches/registry_bench.rs
  crates/superconfig/src/config_flags.rs
  crates/superconfig/src/core/errors.rs
  crates/superconfig/src/core/handle.rs
  crates/superconfig/src/core/mod.rs
  crates/superconfig/src/core/registry.rs
Due: rust-fmt, rust-clippy, dprint-fmt

chore: standardize CI/CD task naming for language-agnostic monorepo
  .claude/plans/superconfig-v2-rewrite/21-ffi-logging-callbacks.txt
  .claude/plans/superconfig-v2-rewrite/22-native-logging-integration.md
  .claude/plans/superconfig-v2-rewrite/work-log.md
  .github/CI.md
  .github/workflows/ci.yml
  .moon/tasks.yml
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/rust-toolchain.toml
  crates/logffi/src/lib.rs
  crates/superconfig/moon.yml
  lefthook.yml
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig): complete Phase 1 logging integration with comprehensive cleanup
  .moon/tasks.yml
  crates/logffi/src/lib.rs
  crates/superconfig/Cargo.lock
  crates/superconfig/Cargo.toml
  crates/superconfig/benchmarks/README.md
  crates/superconfig/benchmarks/scripts/compare-baseline.sh
  crates/superconfig/benchmarks/scripts/save-baseline.sh
  crates/superconfig/moon.yml
  crates/superconfig/src/config_flags.rs
  crates/superconfig/src/core/errors.rs
  crates/superconfig/src/core/mod.rs
  crates/superconfig/src/core/registry.rs
  crates/superconfig/src/lib.rs
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig): achieve 100% test coverage with comprehensive error path testing
  crates/superconfig/src/core/handle.rs
  crates/superconfig/src/core/registry.rs
Due: rust-fmt, rust-clippy

feat(logffi): improve test coverage to 94.27% region coverage with comprehensive testing
  .moon/tasks.yml
  crates/logffi/Cargo.lock
  crates/logffi/Cargo.toml
  crates/logffi/src/lib.rs
  crates/superconfig/coverage.lcov
  crates/superconfig/coverage_analysis.lcov
  crates/superconfig/coverage_detailed.txt
  crates/superconfig/detailed_coverage.txt
  crates/superconfig/detailed_regions.txt
  rust-toolchain.toml
Due: rust-fmt, rust-clippy, dprint-fmt

feat(superconfig): achieve 100% coverage in all superconfig modules
  crates/superconfig/src/core/registry.rs
Due: rust-fmt, rust-clippy

feat(superconfig-macros): improve test coverage with targeted json_helper tests
  crates/superconfig-macros/tests/coverage_focused_tests.rs
  crates/superconfig-macros/tests/json_helper_coverage_tests.rs
Due: rust-fmt, rust-clippy

feat(logffi): improve test coverage to 94.27% region coverage with comprehensive testing
  crates/logffi/COVERAGE_ANALYSIS.md
  crates/logffi/Cargo.toml
  crates/logffi/README.md
  crates/logffi/src/lib.rs
  crates/superconfig-macros/coverage.lcov
Due: rust-fmt, rust-clippy, dprint-fmt

fix(logffi): remove needless main function from doctest
  crates/logffi/src/lib.rs
Due: rust-fmt, rust-clippy

style: auto-format test files for consistency
  crates/superconfig-macros/tests/coverage_focused_tests.rs
  crates/superconfig-macros/tests/json_helper_coverage_tests.rs
Due: rust-fmt, rust-clippy

fix(moon): move cache option to proper location in tasks.yml
  .moon/tasks.yml
Due: dprint-fmt

feat(superconfig): add comprehensive logffi integration tests achieving 100% coverage
  crates/superconfig/tests/logging_integration_tests.rs
Due: rust-fmt, rust-clippy
